body,html{

    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
}
#root{
    width:99.95%;
    height:100%;
    overflow:hidden;
}







.nothing{
    border-bottom: rgba(120, 108, 121, 0.42) solid thin;
    color: rgba(131, 137, 110, 0.92);
}